<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- extra icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- style.css  -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="h-bg">
        <img class="h-img" src="https://movies.universalpictures.com/media/02-opp-dm-banner-1900x660-pl-f01-050523-1-1-1-64588745c20cf-1.jpg" alt="">
        <div class="h-top-bar">
            <div class="h-top">
            <a href="./home.html">
                <img src="../image/netflix_PNG.png" alt="">
            </a>
            </div>
            <div class="user">
                <img src="../image/profile.png" alt="">
            </div>
        </div>
        <div class="details">
            <h1>Oppenheimer </h1>
            <p>The film is based on the 2005 biography American Prometheus by Kai Bird and Martin J. Sherwin, it chronicles the career of Oppenheimer; the story predominantly ...</p>
            <div class="h-btn">
            <button class="play"><span class="material-symbols-outlined">
                play_arrow
                </span>Play</button>
            <button class="more"><span class="material-symbols-outlined">
                info
                </span>More info.</button>
            </div>
        </div>
    </div>
    <h1 class="c-h">Netflix Originals</h1>
    



    <h1 class="c-h">Popular Movies</h1>
    <div class="scroll">
        <div class="scroll-item">
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/apocalyptic-movie-poster-design-template-692e277e6e54a3cae88e0488402d7bfa_screen.jpg?ts=1637006525" alt="">
                    <div class="card-details">
                        <h1>After Out Break</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">Romance-</span>
                            <span class="tag">comedy-</span>
                            <span class="tag">Action</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/space-movie-poster-design-template-6402bfc0a4e9e73ca351f43120e8c36a_screen.jpg?ts=1637002705" alt="">
                    <div class="card-details">
                        <h1>Space Paradox</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">SCI_FI-</span>
                            <span class="tag">Adventure-</span>
                            <span class="tag">Action</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fairy-fiction-gold-woman-book-cover-template-design-ad3fb54ade2edab814993b8f00f2c5c7_screen.jpg?ts=1637015206" alt="">
                    <div class="card-details">
                        <h1>Mother Of Gold</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">Romance-</span>
                            <span class="tag">comedy-</span>
                            <span class="tag">Drama</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/aliens-and-ufo-movie-poster-design-template-c0f3e23533540c38bca03b98fdf3d0af_screen.jpg?ts=1686719260" alt="">
                    <div class="card-details">
                        <h1>The Engineers</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">SCI_FI-</span>
                            <span class="tag">Adventure-</span>
                            <span class="tag">Action</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/horror-movie-poster-template-design-af69153d6b13a8c78082498a2fde632e_screen.jpg?ts=1637016027" alt="">
                    <div class="card-details">
                        <h1>Savege</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">Drama-</span>
                            <span class="tag">FeelGood</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/action-mistery-movie-poster-design-template-2ec690d65c22aa12e437d765dbf7e4af_screen.jpg?ts=1680854635" alt="">
                    <div class="card-details">
                        <h1>Outsider</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">Romance-</span>
                            <span class="tag">comedy-</span>
                            <span class="tag">Action</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="list">
                <div class="list-img">
                    <img class="list-img" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sci-fi-apocalyptic-movie-poster-design-template-a8f5a21f33943e5e9542adf58cadf78b_screen.jpg?ts=1671617565" alt="">
                    <div class="card-details">
                        <h1>Our Last Days</h1>
                        <h2>2021 - PG - 1hr 39min</h2>
                        <div class="rating">
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star"></i>
                            <span>4/5</span>
                        </div>
                        <div class="tags">
                            <span class="tag">SI_FI-</span>
                            <span class="tag">comedy-</span>
                            <span class="tag">Action</span>
                        </div>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quisquam vitae recusandae,</p>
                        </div>
                        <div class="add">
                            <a href="#"><span class="material-symbols-outlined">
                                play_circle
                                </span></a>
                                <a href="#"><span class="material-symbols-outlined">
                                    add
                                    </span></a>
                                    <a href="#"><span class="material-symbols-outlined">
                                        thumb_up
                                        </span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="divider"></div>
    <div class="footer">
        <div class="footer-body">
            <div class="footer-h"><p>Questions? Call 000-800-919-1694</p></div>
            <div class="footer-list">
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Media Centre</a></li>
                    <li><a href="#">Ways to Watch</a></li>
                    <li><a href="#">Cookie Preferences</a></li>
                    <li><a href="#">Speed Test</a></li>
                </ul>
            </div>
            <div class="footer-list">
                <ul>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Corporate Information</a></li>
                    <li><a href="#">Legal Notices</a></li>
                </ul>
            </div>
            <div class="footer-list">
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Only on Netflix</a></li>
                </ul>
            </div>
            <div class="lang-btn">
                <span class="material-symbols-outlined">
                    language
                    </span>
                <select class="lang" name="" id="">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                </select>
            </div>
            <div class="footer-lh"><h4>Netflix India</h4></div>
        </div>
    </div>

</body>
</html>